{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta name="robots" content="index,follow" />
    <meta name="author" content="Nouma" />

    <meta property="og:title" content="BTA Modding" />
    <meta property="og:description" content="Discover and share Minecraft mods for Better Than Adventure!" />
    <meta property="og:image" content="{% static 'assets/images/logo.png' %}" />

    <link rel="icon" type="image/png" href="{% static 'assets/images/logo.png' %}"/>
    <title>{% block title %}BTA Modding{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/output.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/markdown.css' %}">

    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">

</head>
<body>
<header>
    <nav class="container mx-auto">
        <div class="flex flex-wrap items-center justify-between mx-auto p-3">
            <a href="{% url 'home:home' %}" class="flex items-center">
                <img src="{% static 'assets/images/logo.png' %}" class="h-8 mr-3" alt="BTA Modding logo"/>
                <span class="self-center text-2xl font-title whitespace-nowrap text-white">Better Than Curseforge</span>
            </a>
            <div class="flex md:order-2">

                {% if user.is_authenticated %}
                    <div id="dropdown" class="flex justify-center">
                        <div class="relative inline-block">
                            <!-- Dropdown toggle button -->
                            <a id="button" href="#"
                               class="flex items-center gap-2 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                     stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                          d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z"></path>
                                </svg>
                                {{ user.username }}
                            </a>

                            <!-- Dropdown menu -->
                            <div id="dropdown-menu"
                                 class="hidden absolute right-0 z-20 w-56 py-2 mt-2 overflow-hidden bg-white rounded-md shadow-xl dark:bg-gray-800">
                                <a href="#"
                                   class="flex items-center p-3 -mt-2 text-sm text-gray-600 transition-colors duration-200 transform dark:text-gray-300 hover:bg-gray-100 dark:hover:bg-gray-700 dark:hover:text-white">
                                    <img class="flex-shrink-0 object-cover mx-1 rounded-full w-9 h-9"
                                         src="{{ user.avatar.url }}"
                                         alt="jane avatar">
                                    <div class="mx-1">
                                        <h1 class="text-sm font-semibold text-gray-700 dark:text-gray-200">{{ user.username }}</h1>
                                        <p class="text-sm text-gray-500 dark:text-gray-400">{{ user.email }}</p>
                                    </div>
                                </a>

                                <hr class="border-gray-200 dark:border-gray-700 ">

                                <a href="{% url 'users:profile' user.username %}"
                                   class="block px-4 py-3 text-sm text-gray-600 transition-colors duration-200 transform dark:text-gray-300 hover:bg-gray-100 dark:hover:bg-gray-700 dark:hover:text-white">
                                    Profile
                                </a>

                                <a href="#"
                                   class="block px-4 py-3 text-sm text-gray-600 transition-colors duration-200 transform dark:text-gray-300 hover:bg-gray-100 dark:hover:bg-gray-700 dark:hover:text-white">
                                    Settings
                                </a>

                                <hr class="border-gray-200 dark:border-gray-700 ">

                                <a href="{% url 'mods:create' %}"
                                   class="block px-4 py-3 text-sm text-gray-600 transition-colors duration-200 transform dark:text-gray-300 hover:bg-gray-100 dark:hover:bg-gray-700 dark:hover:text-white">
                                    Submit a mod
                                </a>

                                <hr class="border-gray-200 dark:border-gray-700 ">

                                <a href="#"
                                   class="block px-4 py-3 text-sm text-gray-600 transition-colors duration-200 transform dark:text-gray-300 hover:bg-gray-100 dark:hover:bg-gray-700 dark:hover:text-white">
                                    Help
                                </a>
                                <a href="{% url 'users:logout' %}"
                                   class="block px-4 py-3 text-sm text-gray-600 transition-colors duration-200 transform dark:text-gray-300 hover:bg-gray-100 dark:hover:bg-gray-700 dark:hover:text-white">
                                    Logout
                                </a>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <a href="{% url 'users:login' %}"
                       class="flex items-center gap-2 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                             stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                  d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15m3 0l3-3m0 0l-3-3m3 3H9"></path>
                        </svg>
                        Sign in
                    </a>
                {% endif %}
            </div>
            <button data-collapse-toggle="navbar-cta" type="button"
                    class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
                    aria-controls="navbar-cta" aria-expanded="false">
                <span class="sr-only">Open main menu</span>
                <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                     viewBox="0 0 17 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M1 1h15M1 7h15M1 13h15"></path>
                </svg>
            </button>
            <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-cta">
                <ul class="flex flex-col font-medium p-4 md:p-0 mt-4 rounded-lg md:flex-row md:space-x-8 md:mt-0">
                    <li>
                        {% url 'home:home' as home %}
                        <a href="{{ home }}"
                           class="{% if home == request.path %}text-white{% endif %} hover:underline hover:underline-offset-2 block py-2 pl-3 pr-4 rounded"
                           aria-current="page">Home</a>
                    </li>
                    <li>
                        {% url 'mods:list' as mods_list %}
                        <a href="{{ mods_list }}"
                           class="{% if mods_list == request.path %}text-white{% endif %} hover:underline hover:underline-offset-2 block py-2 pl-3 pr-4 rounded"
                           aria-current="page">Mods</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

</header>

<main class="container mx-auto">
    {% block content %}
    {% endblock %}
</main>

<footer
  class="text-center text-gray-600 lg:text-left">
  <div class="p-4 text-center">
    © 2023 Copyright:
    <a
      class="text-gray-400"
      href="https://github.com/Noumaa/" target="_blank"
      >Nouma</a
    >
  </div>
</footer>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-confetti@latest/dist/js-confetti.browser.js"></script>

<!-- Development -->
<script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.min.js"></script>
<script src="https://unpkg.com/tippy.js@6/dist/tippy-bundle.umd.js"></script>
<!-- Production -->
{#<script src="https://unpkg.com/@popperjs/core@2"></script>#}
{#<script src="https://unpkg.com/tippy.js@6"></script>#}

{% block extrascript %}
{% endblock %}

<script>
    // Function to detect if the user is using a mobile device
    function detectMobileDevice() {
        return /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent);
    }

    // Function to display the mobile warning banner
    function displayMobileBanner() {
        // Check if the user has previously closed the banner
        if (localStorage.getItem("mobileBannerClosed") !== "true") {
            // Create a div element for the banner
            var banner = document.createElement('div');
            banner.style.position = "fixed";
            banner.style.top = "0";
            banner.style.left = "0";
            banner.style.width = "100%";
            banner.style.backgroundColor = "#FF0000";
            banner.style.color = "#FFFFFF";
            banner.style.padding = "10px";
            banner.style.textAlign = "center";

            // Create a close button
            var closeButton = document.createElement('button');
            closeButton.innerHTML = "Close";
            closeButton.style.float = "right";
            closeButton.style.cursor = "pointer";
            closeButton.classList.add("px-2", "rounded-md", "bg-gradient-to-r", "from-purple-600", "to-blue-600")

            // Add an event listener to the close button to hide the banner and store the state in localStorage
            closeButton.addEventListener('click', function() {
                banner.style.display = "none";
                localStorage.setItem("mobileBannerClosed", "true");
            });

            // Create a message for the banner
            var message = document.createElement('div');
            message.innerHTML = "It's not recommended to use a mobile device at the moment. Please use a desktop computer or tablet.";

            // Add the close button and message to the banner
            banner.appendChild(closeButton);
            banner.appendChild(message);

            // Add the banner to the page
            document.body.appendChild(banner);
        }
    }

    // Check if the user is on a smartphone and display the banner if so
    if (detectMobileDevice()) {
        displayMobileBanner();
    }

    $('#button').on('click', function () {
        $('#dropdown-menu').toggleClass('hidden')
    })

    $(document).on('click', function () {
        if (!($('#button').is(":hover")))
            $('#dropdown-menu').addClass('hidden')
    })

    {% if messages %}
        {% for message in messages %}
            Toastify({
                text: "{{ message }}",
                duration: 3000,
                close: true,
                gravity: "top", // `top` or `bottom`
                position: "left", // `left`, `center` or `right`
                stopOnFocus: true, // Prevents dismissing of toast on hover
                style: {
                    background: "gray",
                },
                onClick: function () {
                }
            }).showToast();
            {#<li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>#}
        {% endfor %}
    {% endif %}

</script>

</body>
</html>