{% extends 'base.html' %}
{% load time %}

{% block title %}
    {{ target_user.username }} - BTA Modding
{% endblock %}

{% block content %}

    <div class="flex flex-row items-center my-3">
        <img src="{{ target_user.avatar.url }}" alt="{{ target_user.username }} avatar" class="h-24 mx-5" />
        <h1 class="text-3xl font-bold">{{ target_user.username }}</h1>
    </div>

    <div class="md:flex flex-row gap-3 md:mx-0 mx-4">
        <aside class="basis-1/4 mb-4">
            <div class="py-4 px-4 bg-card rounded-xl shadow-lg">
                <div class="flex items-center gap-1 font-medium">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="text-blue-400 w-5 h-5">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M21 7.5l-2.25-1.313M21 7.5v2.25m0-2.25l-2.25 1.313M3 7.5l2.25-1.313M3 7.5l2.25 1.313M3 7.5v2.25m9 3l2.25-1.313M12 12.75l-2.25-1.313M12 12.75V15m0 6.75l2.25-1.313M12 21.75V19.5m0 2.25l-2.25-1.313m0-16.875L12 2.25l2.25 1.313M21 14.25v2.25l-2.25 1.313m-13.5 0L3 16.5v-2.25"></path>
                    </svg>
                    <span class="text-blue-400">Creator</span>
                </div>

                <hr class="h-px my-3 bg-separator border-0">

                <div class="flex flex-row items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 me-2.5">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75V16.5M16.5 12L12 16.5m0 0L7.5 12m4.5 4.5V3"></path>
                    </svg>
                    <p><span class="font-bold text-2xl">{{ downloads }}</span> downloads</p>
                </div>

                <div class="flex flex-row items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 me-2.5">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 8.25v-1.5m0 1.5c-1.355 0-2.697.056-4.024.166C6.845 8.51 6 9.473 6 10.608v2.513m6-4.87c1.355 0 2.697.055 4.024.165C17.155 8.51 18 9.473 18 10.608v2.513m-3-4.87v-1.5m-6 1.5v-1.5m12 9.75l-1.5.75a3.354 3.354 0 01-3 0 3.354 3.354 0 00-3 0 3.354 3.354 0 01-3 0 3.354 3.354 0 00-3 0 3.354 3.354 0 01-3 0L3 16.5m15-3.38a48.474 48.474 0 00-6-.37c-2.032 0-4.034.125-6 .37m12 0c.39.049.777.102 1.163.16 1.07.16 1.837 1.094 1.837 2.175v5.17c0 .62-.504 1.124-1.125 1.124H4.125A1.125 1.125 0 013 20.625v-5.17c0-1.08.768-2.014 1.837-2.174A47.78 47.78 0 016 13.12M12.265 3.11a.375.375 0 11-.53 0L12 2.845l.265.265zm-3 0a.375.375 0 11-.53 0L9 2.845l.265.265zm6 0a.375.375 0 11-.53 0L15 2.845l.265.265z"></path>
                    </svg>
                    <p>Joined {{ target_user.date_joined|days_until }} ago</p>
                </div>

                <hr class="h-px my-3 bg-separator border-0">
            </div>
        </aside>
        <div class="basis-3/4">
            <div class="p-5 mb-4 bg-card rounded-xl shadow-lg">
                <a id="modsLink" href="#" onclick="openTab('mods')" class="text-white underline decoration-4 decoration-blue-600">Mods</a>
            </div>

            <div id="mods">
                {% for mod in mods %}
                    <div class="my-3 py-4 px-4 bg-card rounded-xl shadow-lg flex ">
                        <a class="basis-28" href="{% url 'mods:detail' mod.user.username mod.slug %}">
                            <img class="bg-background rounded-xl w-28" src="{{ mod.logo.url }}" alt="{{ mod.label }} logo" />
                        </a>
                        <div class="ps-4">
                            <div class="title flex flex-col md:flex-row items-baseline md:gap-2">
                                <a href="{% url 'mods:detail' mod.user.username mod.slug %}">
                                    <h2 class="text-2xl font-bold">{{ mod.label }}</h2>
                                </a>
                            </div>
                            <p class="max-w-sm lg:max-w-3xl">{{ mod.short_description }}</p>

                            <div class="flex flex-rows flex-wrap gap-3 mt-2">
                                {% for category in mod.categories.all %}
                                    <div class="flex flex-rows items-center">
                                        {{ category.icon|safe }}
                                        <p class="font-normal text-gray-400 inline-block pl-[0.15rem]">{{ category.label }}</p>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% empty %}
                    <div class="my-3 py-4 px-4 bg-card rounded-xl shadow-lg flex justify-start">
                        <h2>No mods matches the given query</h2>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}

{% block extrascript %}

    <script>
        const tabs = [
            "mods"
        ];

        function openTab(id) {
            document.getElementById(id).classList.remove("hidden");
            document.getElementById(id+"Link").classList.add("text-white", "underline", "decoration-4", "decoration-blue-600");
            tabs.forEach((tab) => {
                if (tab === id) return;
                document.getElementById(tab).classList.add('hidden')
                document.getElementById(tab+"Link").classList.remove("text-white", "underline", "decoration-4", "decoration-blue-600");
            });
        }
    </script>

{% endblock %}