{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="flex flex-row gap-3">
        <aside class="basis-1/4">
            <div class="p-5 bg-card rounded-xl shadow-lg">
                {% if user == mod.user %}
                    <div class="flex flex-row mb-2">
                        <a href="{% url 'mods:version-create' user.username mod.slug %}"
                           class="font-medium rounded-lg hover:bg-blue-700 focus:ring-4 focus:ring-blue-800 focus:outline-none text-sm px-5 py-2 mr-2 mb-2 text-white bg-blue-600">Update</a>
                        <a href="{% url 'mods:edit' user.username mod.slug %}" class="border focus:outline-none focus:ring-4 focus:ring-gray-200 font-medium rounded-lg text-sm px-5 py-2 mr-2 mb-2 bg-card text-white border-gray-600 hover:bg-gray-700 hover:border-gray-600 focus:ring-gray-700">Settings</a>
                    </div>
                {% endif %}

                <a href="{% url 'mods:detail' mod.user.username mod.slug %}">
                    <img class="bg-background rounded-xl h-28 w-28" src="{{ mod.logo.url }}" alt="{{ mod.label }} logo" />
                    <h2 class="text-2xl font-bold pt-2">{{ mod.label }}</h2>
                </a>

                <a class="font-medium hover:underline hover:text-white" href="{% url 'mods:list' %}">
                    <div class="flex items-center gap-1">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M20.25 7.5l-.625 10.632a2.25 2.25 0 01-2.247 2.118H6.622a2.25 2.25 0 01-2.247-2.118L3.75 7.5M10 11.25h4M3.375 7.5h17.25c.621 0 1.125-.504 1.125-1.125v-1.5c0-.621-.504-1.125-1.125-1.125H3.375c-.621 0-1.125.504-1.125 1.125v1.5c0 .621.504 1.125 1.125 1.125z"></path>
                        </svg>
                        Mod
                    </div>
                </a>

                <p class="pt-2">{{ mod.short_description }}</p>

                <hr class="h-px my-3 bg-separator border-0">
            </div>

            <div class="mt-4 p-5 bg-card rounded-xl shadow-lg">
                <h2 class="text-lg font-bold pt-2">Featured versions</h2>
                <ul>
                    {% for version in mod.versions.all %}
                        <a href="{% url 'mods:version-detail' mod.user.username mod.slug version.slug %}">
                            <li>
                                <span class="text-version font-bold">{{ version.label }}</span>
                            </li>
                        </a>
                    {% endfor %}
                </ul>
            </div>
        </aside>
        <div class="basis-3/4">
            <div class="p-5 mb-4 bg-card rounded-xl shadow-lg">

                <ul class="flex flex-col md:flex-row gap-3">
                    {% url 'mods:detail' mod.user.username mod.slug as detail_url %}
                    {% url 'mods:version-list' mod.user.username mod.slug as version_url %}
                    <li><a class="{% if detail_url == request.path %}text-white{% endif %}" href="{{ detail_url }}">Description</a></li>
                    <li><a class="{% if version_url == request.path %}text-white{% endif %}" href="{{ version_url }}">Versions</a></li>
                </ul>

            </div>

            {% block main %}{% endblock main %}
        </div>
    </div>

{% endblock %}

