{% extends 'base.html' %}
{% load misc %}
{% load time %}
{% load static %}

{% block title %}
    {{ mod.label }} - Minecraft Mod
{% endblock %}

{% block content %}

    <div class="md:flex gap-3 md:mx-0 mx-4">
        <aside class="basis-1/4">
            <div class="p-5 bg-card rounded-xl shadow-lg">
                {% if user == mod.user %}
                    <div class="flex flex-row mb-2">
                        <a href="{% url 'mods:version-create' user.username mod.slug %}"
                           class="font-medium rounded-lg hover:bg-blue-700 focus:ring-4 focus:ring-blue-800 focus:outline-none text-sm px-5 py-2 mr-2 mb-2 text-white bg-blue-600">Update</a>
                        <a href="{% url 'mods:edit' user.username mod.slug %}"
                           class="border focus:outline-none focus:ring-4 focus:ring-gray-200 font-medium rounded-lg text-sm px-5 py-2 mr-2 mb-2 bg-card text-white border-gray-600 hover:bg-gray-700 hover:border-gray-600 focus:ring-gray-700">Settings</a>
                    </div>
                {% endif %}

                <a href="{% url 'mods:detail' mod.user.username mod.slug %}">
                    <img class="bg-background rounded-xl h-28 w-28" src="{{ mod.logo.url }}"
                         alt="{{ mod.label }} logo"/>
                    <h2 class="text-2xl font-bold pt-2">{{ mod.label }}</h2>
                </a>

                <a class="font-medium hover:underline hover:text-white" href="{% url 'mods:list' %}">
                    <div class="flex items-center gap-1">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                             stroke="currentColor" class="w-5 h-5">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                  d="M20.25 7.5l-.625 10.632a2.25 2.25 0 01-2.247 2.118H6.622a2.25 2.25 0 01-2.247-2.118L3.75 7.5M10 11.25h4M3.375 7.5h17.25c.621 0 1.125-.504 1.125-1.125v-1.5c0-.621-.504-1.125-1.125-1.125H3.375c-.621 0-1.125.504-1.125 1.125v1.5c0 .621.504 1.125 1.125 1.125z"></path>
                        </svg>
                        Mod
                    </div>
                </a>

                <p class="pt-2">{{ mod.short_description }}</p>

                <div class="flex flex-rows flex-wrap gap-x-3 mt-2">
                    {% for category in mod.categories.all %}
                        <div class="flex flex-row gap-1 items-center align-center">
                            {{ category.label|get_category_icon }}
                            <p>{{ category.label }}</p>
                        </div>
                    {% endfor %}
                </div>

                <hr class="h-px my-3 bg-separator border-0">

                <div class="flex flex-row items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 me-2.5">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75V16.5M16.5 12L12 16.5m0 0L7.5 12m4.5 4.5V3"></path>
                    </svg>
                    <p><span class="font-bold text-2xl">{{ mod.get_downloads }}</span> downloads</p>
                </div>

                <div class="flex flex-row items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 me-2.5">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 012.25-2.25h13.5A2.25 2.25 0 0121 7.5v11.25m-18 0A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75m-18 0v-7.5A2.25 2.25 0 015.25 9h13.5A2.25 2.25 0 0121 11.25v7.5m-9-6h.008v.008H12v-.008zM12 15h.008v.008H12V15zm0 2.25h.008v.008H12v-.008zM9.75 15h.008v.008H9.75V15zm0 2.25h.008v.008H9.75v-.008zM7.5 15h.008v.008H7.5V15zm0 2.25h.008v.008H7.5v-.008zm6.75-4.5h.008v.008h-.008v-.008zm0 2.25h.008v.008h-.008V15zm0 2.25h.008v.008h-.008v-.008zm2.25-4.5h.008v.008H16.5v-.008zm0 2.25h.008v.008H16.5V15z"></path>
                    </svg>
                    <p>Created {{ mod.publish|days_until }} ago</p>
                </div>

                <div class="flex flex-row items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 me-2.5">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0l3.181 3.183a8.25 8.25 0 0013.803-3.7M4.031 9.865a8.25 8.25 0 0113.803-3.7l3.181 3.182m0-4.991v4.99"></path>
                    </svg>
                    <p>Updated {{ mod.versions.first.publish|days_until }} ago</p>
                </div>

                <hr class="h-px my-3 bg-separator border-0">

            </div>

            <div class="mt-4 p-5 bg-card rounded-xl shadow-lg">
                {% if mod.links.exists and mod.links.first.get_all_urls|length > 0 %}
                    <h2 class="text-lg font-bold pt-2">External links</h2>
                    <p class="flex flex-row flex-wrap gap-x-2 mt-3 mb-2 sm:mb-4">
                        {% for name, url in mod.links.first.get_all_urls %}
                            <a class="flex flex-row items-center gap-2 hover:text-white" target="_blank" rel="noreferrer" href="{{ url }}">
                                • {{ name|get_link_icon }}
                                {% if name == 'issue_tracker' %}
                                    <span class="underline">Issues</span>
                                {% elif name == 'source_code' %}
                                    <span class="underline">Source</span>
                                {% elif name == 'wiki_page' %}
                                    <span class="underline">Wiki</span>
                                {% elif name == 'discord_invite' %}
                                    <span class="underline">Discord</span>
                                {% elif name == 'donation_links' %}
                                    <span class="underline">Donate</span>
                                {% else %}
                                    <span class="underline">{{ name }}</span>
                                {% endif %}
                            </a>
                        {% endfor %}
                    </p>

                    <hr class="h-px my-3 bg-separator border-0">
                {% endif %}

                <h2 class="text-lg font-bold pt-2">Featured versions</h2>
                <ul class="my-3 max-w-md">
                    {% for version in mod.versions.all %}
                        <li class="p-2 hover:bg-backgrounddark rounded-xl">
                            <div class="flex items-start space-x-4 align-top">
                                <div class="flex flex-row">
                                    <a href="{% url 'mods:version-download' mod.user.username mod.slug version.slug %}"
                                       class="bg-green-500 self-center rounded-2xl text-black p-2">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" class="w-6 h-6"
                                             viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round"
                                                  d="M3 16.5v2.25A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75V16.5M16.5 12L12 16.5m0 0L7.5 12m4.5 4.5V3"></path>
                                        </svg>
                                    </a>
                                </div>
                                <a class="flex-1 min-w-0 text-gray-300"
                                   href="{% url 'mods:version-detail' mod.user.username mod.slug version.slug %}">
                                        <p class="font-bold truncate">
                                            {{ version.label }}
                                        </p>
                                        <p>
                                            {% for loader in version.loaders.all %}
                                                {{ loader.label }}
                                            {% endfor %}
                                            {{ version.game_version.label }}
                                        </p>
                                        <span class="font-bold" style="color: {{ version.release_channel.color }}">• {{ version.release_channel.label }}</span>
                                </a>
                            </div>
                        </li>
                    {% endfor %}
                </ul>

                <hr class="h-px my-3 bg-separator border-0">

                <h2 class="text-lg font-bold pt-2">Project members</h2>
                <a href="{% url 'users:profile' mod.user.username %}" class="flex items-center gap-2 p-1 py-2 hover:bg-backgrounddark rounded-xl mt-2">
                    <img class="flex-shrink-0 object-cover mx-1 rounded-full w-9 h-9" src="{{ mod.user.avatar.url }}" alt="{{ mod.user.username }} avatar">
                    <p>{{ mod.user.username }}</p>
                </a>
            </div>
        </aside>
        <div class="basis-3/4 md:mt-0 mt-5">
            <div class="p-5 mb-4 bg-card rounded-xl shadow-lg">

                <ul class="flex flex-row gap-6">
                    {% url 'mods:detail' mod.user.username mod.slug as detail_url %}
                    {% url 'mods:version-list' mod.user.username mod.slug as version_url %}
                    <li><a class="{% if detail_url == request.path %}text-white underline decoration-4 decoration-blue-600{% endif %}" href="{{ detail_url }}">Description</a>
                    </li>
                    <li><a class="{% if version_url == request.path %}text-white underline decoration-4 decoration-blue-600{% endif %}" href="{{ version_url }}">Versions</a>
                    </li>
                </ul>

            </div>

            {% block main %}{% endblock main %}
        </div>
    </div>

{% endblock %}

