<div class="pagination flex justify-center my-4 text-white">
    <span class="step-links">

        {% if page_obj.has_previous %}
            {% if page_obj.number > 2 %}
                <a class="rounded-3xl p-2 px-4 bg-card" href="?page=1">1</a>
                —
            {% endif %}
            <a class="rounded-3xl p-2 px-4 {% if page_obj.has_previous %}bg-card{% endif %}" href="{% if page_obj.has_previous %}?page={{ page_obj.previous_page_number }}{% else %}#{% endif %}">{{ page_obj.previous_page_number }}</a>
        {% endif %}

        <a class="rounded-3xl p-2 px-4 bg-blue-600" href="#">{{ page_obj.number }}</a>

        {% if page_obj.has_next %}
            <a class="rounded-3xl p-2 px-4 bg-card" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
            {% if page_obj.next_page_number != page_obj.paginator.num_pages %}
                —
                <a class="rounded-3xl p-2 px-4 bg-card" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
            {% endif %}
        {% endif %}

    </span>
</div>