{% extends 'base.html' %}
{% load static %}
{% load markdown %}

{% block content %}

    <div class="flex flex-row gap-3">
        <div class="basis-1/4">
            <div class="p-5 bg-card rounded-xl shadow-lg">
                <img class="bg-background rounded-xl h-28 w-28" src="{% static 'icon.webp' %}" alt="{{ mod.label }} logo" />
                <h2 class="text-2xl font-bold pt-2">{{ mod.label }}</h2>
                <a class="font-medium hover:underline hover:text-white" href="{% url 'mods:list' %}">

                    <div class="flex items-center gap-1">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M20.25 7.5l-.625 10.632a2.25 2.25 0 01-2.247 2.118H6.622a2.25 2.25 0 01-2.247-2.118L3.75 7.5M10 11.25h4M3.375 7.5h17.25c.621 0 1.125-.504 1.125-1.125v-1.5c0-.621-.504-1.125-1.125-1.125H3.375c-.621 0-1.125.504-1.125 1.125v1.5c0 .621.504 1.125 1.125 1.125z" />
                        </svg>
                        Mod
                    </div>
                </a>
                <p class="pt-2">{{ mod.short_description }}</p>
                <hr class="h-px my-3 bg-separator border-0">
            </div>
            <div class="mt-4 p-5 bg-card rounded-xl shadow-lg">
                <h2 class="text-lg font-bold pt-2">Featured versions</h2>
                <ul>
                    {% for version in mod.versions.all %}
                        <a href="{% url 'mods:version-download' mod.user.username mod.slug version.slug %}">
                            <li>
                                <span class="text-version font-bold">{{ version.label }}</span>
                            </li>
                        </a>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="basis-3/4">
            <div class="p-5 bg-card rounded-xl shadow-lg markdown-body">
                {{ mod.description|markdown|safe }}
            </div>
        </div>
    </div>

    {% if version is not 'none' %}
        <script>
            const download = (path, filename) => {
                // Create a new link
                const anchor = document.createElement('a');
                anchor.href = path;
                anchor.download = filename;

                // Append to the DOM
                document.body.appendChild(anchor);

                // Trigger `click` event
                anchor.click();

                // Remove element from DOM
                document.body.removeChild(anchor);
            };
            download('{{ version.file.url }}', '{{ version.file }}');
        </script>
    {% endif %}

{% endblock %}