{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="flex flex-row gap-3">
        <div class="basis-1/4">

            <div class="py-4 px-4 bg-card rounded-xl shadow-lg">
            </div>

        </div>
        <div class="basis-3/4">

            <div class="py-4 px-4 bg-card rounded-xl shadow-lg flex justify-start">
                <input type="search" placeholder="Search mods..">
            </div>

            <div id="pagination" class="text-center">
                <p>pagination soon</p>
            </div>

            {% for mod in mods %}
                <div class="my-3 py-4 px-4 bg-card rounded-xl shadow-lg flex justify-start">
                    <a href="{% url 'mods:detail' mod.pk %}">
                        <img class="bg-background rounded-xl h-28 w-28" src="{% static 'icon.webp' %}" alt="{{ mod.label }} logo" />
                    </a>
                    <div class="ps-4">
                        <div class="title flex items-baseline gap-2">
                            <a href="{% url 'mods:detail' mod.pk %}">
                                <h2 class="text-2xl font-bold">{{ mod.label }}</h2>
                            </a>
                            <p class="author"> by <a href="#" class="title-link">modmuss50</a></p>
                        </div>
                        <p>{{ mod.short_description }}</p>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>

{% endblock %}