{% extends 'mods/_mod_layout.html' %}
{% load markdown %}

{% block title %}
    {{ version.label }} - {{ mod.label }}
{% endblock %}

{% block main %}
    <div class="p-5 mb-4 bg-card rounded-xl shadow-lg">
        <h2 class="text-2xl font-bold">{{ version.label }}</h2>

        <a href="{% url 'mods:version-download' mod.user.username mod.slug version.slug %}" class="flex items-center gap-1 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-3 py-2 mt-3 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" class="w-6 h-6" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75V16.5M16.5 12L12 16.5m0 0L7.5 12m4.5 4.5V3"></path>
            </svg>
            Download
        </a>
    </div>

    <div class="flex flex-row gap-3">
        <div class="basis-2/3">
            <div class="p-5 bg-card rounded-xl shadow-lg">
                <h3 class="text-lg font-bold">Changelog</h3>
                    {% if version.changelog is None %}
                        <p class="text-md">
                            No changelog specified.
                        </p>
                    {% else %}
                        <div class="markdown-body" style="background-color: #26292f; !important;">
                            {{ version.changelog|markdown|safe }}
                        </div>
                    {% endif %}
                </p>
            </div>
        </div>

        <div class="basis-1/3">
            <div class="p-5 bg-card rounded-xl shadow-lg">
                <h3 class="text-lg font-bold">Metadata</h3>

                <h4 class="text-md mt-3 font-bold">Downloads</h4>
                <p>{{ version.downloads }}</p>

                <h4 class="text-md mt-3 font-bold">Publication date</h4>
                <p>{{ version.publish }}</p>

                <h4 class="text-md mt-3 font-bold">Publisher</h4>
                <a href="{% url 'users:profile' mod.user.username %}" class="flex items-center gap-2 p-2 hover:bg-backgrounddark rounded-xl mt-2">
                    <img class="flex-shrink-0 object-cover mx-1 rounded-full w-9 h-9" src="{{ mod.user.avatar.url }}" alt="{{ mod.user.username }} avatar">
                    <p>{{ mod.user.username }}</p>
                </a>
            </div>
        </div>
    </div>

{% endblock %}